<h1><%= "#{t('active_record.models.tweet')}一覧" %></h1>

<% @tweets.each do |tweet| %>
  <h2><%= "#{t('active_record.attributes.tweet.title')}: #{tweet.title}" %></h2>
  <p><%= "#{t('active_record.attributes.tweet.content')}: #{tweet.content}" %></p>
  <p><%= link_to '編集', [:edit, tweet] %></p>
<% end %>

<p><%= @tweets.total_count %>件中<%= @tweets.offset_value + 1 %>〜<%= @tweets.offset_value + @tweets.length %>件を表示しています。</p>
<%= paginate @tweets %>
